 header{
            background-color:blueviolet;
            color:black;
            text-align: center;
            max-width: 800px;
            margin: 0 auto;
            padding: 16px;
         }
         main{
             background-color: rgb(211, 43, 172);
             color:black;
             margin: 0 auto;
             padding: 16px;
         }
         main{
            background-color:deeppink;
            color: black;
            margin: 0 auto;
            padding: 16px;

            article{

            }
         }
         img{
            width: 80px;
            height: 80px;
         }
         .artigo-autor{
            font-weight: bold;
         }
         .direitos{
            text-align: center;
            color: deeppink;
         }
